well-known resource

Google's Q3 report to the UK CMA says:

> Yes, the submission guidelines have been changed, and the primary domain must serve a JSON file at /.well-known/related-website-set.json.

But I see no evidence of that URL in either explainer or specification.

@martinthomson Thanks for the question. The .well-known file is processed out-of-band relative to the user agent, so it is defined as a separate document that is housed [here](https://github.com/GoogleChrome/first-party-sets/blob/main/FPS-Submission_Guidelines.md). It's linked from the [introduction section](https://wicg.github.io/first-party-sets/#intro) of the specification:

> This document defines how user agents should integrate with the [Related Website Sets list](https://github.com/GoogleChrome/first-party-sets/blob/main/first_party_sets.JSON). For a canonical reference of the structure of the RWS list and technical validations that are run at time of submission, please see the [Related Website Sets Submission Guidelines](https://github.com/GoogleChrome/first-party-sets/blob/main/FPS-Submission_Guidelines.md).

Happy to incorporate if you have any feedback on improving this.

That link is broken, but I found the file [here](https://github.com/GoogleChrome/related-website-sets/blob/main/RWS-Submission_Guidelines.md).

I would recommend a specification for this.  See [Section 5.1 of RFC 8615](https://datatracker.ietf.org/doc/html/rfc8615#section-5.1) for details on what a specification should contain.

> I would recommend a specification for this. See [Section 5.1 of RFC 8615](https://datatracker.ietf.org/doc/html/rfc8615#section-5.1) for details on what a specification should contain.

Ack. Thank you. #150 is related and we intend to resolve this in the next few weeks.


> I would recommend a specification for this. See [Section 5.1 of RFC 8615](https://datatracker.ietf.org/doc/html/rfc8615#section-5.1) for details on what a specification should contain.

The well-known URI `related-website-set.json` is now [registered with IANA](https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml#:~:text=related%2Dwebsite%2Dset.json). There is also now a [specification document for the well-known file](https://github.com/GoogleChrome/related-website-sets/blob/main/Well-Known-Specification.md) in the submission repository. 